.bg-container{
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 5%;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}