.sheet_container{
    margin-top: 20px;
    justify-content: center;
    display: flex;
}
.table_cont{
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}
.input_text{
    height: 40px;
    width:70%;
    border-radius: 5px;
}
.addbtn{
    background-color: #3f51b5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 0.1px solid black;
    margin-right: 5px;
    border-radius: 2px;
}
.submit_button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 0.1px solid black;
    margin-right: 5px;
    border-radius: 2px;
}
.btncont{
    justify-content: space-between;
    display: flex;
}